---
// Content
import { getCollection } from 'astro:content';

// Components
import BlogCard from '@/components/blog/BlogCard.astro';
import Layout from '@/layouts/Layout.astro';
import BlogHero from '@/components/blog/BlogHero.astro';

export const prerender = true;

// すべてのブログ投稿を取得
const posts = await getCollection('blog', ({ data }) => !data.isDraft);
const sortedPosts = posts.sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);
---

<Layout title='My Blog'>
  <BlogHero currentPage={1} />
  <div class='container'>
    <section aria-label='Blog Posts' class='grid-wrapper'>
      {sortedPosts.map((post) => <BlogCard post={post} tagName='h2' />)}
    </section>
  </div>
</Layout>
